*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#header-portion{
    display: flex;
    flex-direction: column;
    width: 100;
    height: 99px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #131921; */
}

/* navigation part */
#first-nav-portion{
    display: flex;
    height: 60px;
    background-color: #131921;
    align-items: center;
    padding-left: .5rem;
}


/* amazon Logo part */
.nav-logo{
    width: 120px; /* 6.8vw */
    height: 50px;
}


.logo{
    height: 50px;
    padding: 10px;
    background-image: url("./images/amazon_icon.png");
    background-size: 90px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    background-position-x: 14px;
}
.logo:hover{
    cursor: pointer;
    border:1px solid white;
}


/* amazon location part */
.location-portion{
    display: flex;
    width: 204px;
    height: 50px;
    padding: 4px;
    margin-left: .3rem;

}

.location-portion:hover{
    cursor: pointer;
    border: 1px solid white;
}
.location-icon{
    width: 22px;
    height: 34px;
    background-image: url("./images/location-icon.jpg");
    background-size: 11px;
    background-repeat: no-repeat;    
    background-position: 5px 12px;
}

.location-details{
    color: white;
}

.place{
    margin-left: 5px;
    color: hsl(0, 0%, 59%);
    font-size: .80rem;
}

.location-update{
    font-size: .8rem;
    margin-top: 3px;
    margin-left: 5px;
    font-weight: 900;
}

/* Search part */
.search-portion{
    display: flex;
    width: 52.4%;
    margin: 0 .5rem 0 .5rem;
}

.dropdown-selector{
    width: 50px;
}

.dropdown-list{
    width: 50px;
    height: 38.5px;
    font-size: .85rem;
    border-radius: 6px 0 0 6px;
    appearance: none;
    background-color: rgb(226, 225, 225);
    background-image: url("./images/arrow_key.png");
    background-size:9px;
    background-repeat: no-repeat;
    background-position: 31px;
    padding-left: 10px;
    border: none;
    cursor: pointer;
}


.input-search{
    width: 90%;
}

.text-based-searching{
    width: 100%;
    height: 38.5px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid rgb(226, 225, 225);
    font-size: .95rem;
    word-spacing: 2px;
    outline-style:none;
}
.text-based-searching::placeholder{
    text-indent: 7px;
    font-stretch:wider;
}

.submit-button{
    width: 45px;
    height: 38.5px;
    background-color: rgb(255, 189, 66);
    background-image: url("./images/search-button.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 10px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    border: none;
}

/* Language selecting portion */
.language-selector-portion{
    display: flex;
    width: 78px;
    height: 50px;
    align-items: flex-end;
    padding-left: 9px;
}

.flag-icon{
    width: 27px;
    height: 30px;
    background-image: url("./images/Flag_of_the_United_States.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position-y: 2px;
}

.language-abbrevation{
    width: 28px;
    height: 30px;
    color: white;
    font-size: .90rem;
    font-weight: 600;
    margin-left: 3px;
}

.drop-arrow{
    width: 10px;
    height: 40px;
    background-image: url("./images/grey_arrow.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position-y: 21px;
    background-position-x: 1px;
    transform: rotate(90deg);
}

.language-selector-portion:hover{
    cursor: pointer;
    border: 1px solid white;
}

/* Account detail portion */
.account-portion{
    display: flex;
    width: 131px;
    height: 50px;
    align-items: center;
    padding-left: .5rem;
    margin-left: .3rem;
}

.account-portion:hover{
    cursor: pointer;
    border: 1px solid white;
}

.account-details{
    width: 110px;
}

.line-one{
    width: 100px;
    color: white;
    font-size: .80rem;
}

.line-two{
    width: 104px;
    color: white;
    font-weight: bolder;
    font-size: .85rem;
}

.arrow-key{
    width: 15px;
    height: 12px;
    background-image: url("./images/grey_arrow.png");
    background-repeat: no-repeat;
    transform: rotate(90deg);
    background-size: 10px;
    margin: 20px 5px 0 0;
}

/* Return and order details */
.order-details{
    color: white;
    width: 85px;
    height: 50px;
    place-content: center;
    padding: 0 0 0 8px;
    margin-left: .3rem
}

.return{
    font-size: .77rem;
}

.orders{
    font-size: .9rem;
    font-weight: bolder;
}

.order-details:hover{
    cursor: pointer;
    border: 1px solid white;
}

/* Cart details portion */
.cart-portion{
    display: flex;
    width: 95px;
    height: 50px;
    padding: 0 0 0 5px;
    align-items: center;
    margin-left: .3rem;;
}

.cart-logo{
    width: 50px;
    height: 50px;
    background-image: url("./images/amazon_cart.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: -12px;
}

.cart-portion p{
    position: relative;
    color: white;
    font-weight: 600;
    top: .5rem;
    left: -.3rem;
}

.cart-portion:hover{
    cursor: pointer;
    border: 1px solid white;
}

/* Second navigation  */

#second-nav-portion{
    display: flex;
    height: 39px;
    background-color: #232f3e;
    padding: 0 0 0 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#second-nav-portion > *:hover{
    height: 38.4px;
    border: 1px solid white;
}

/* Menu bar of second navigation */
.menu-bar{
    display: flex;
    width: 60px;
    height: 38.4px;
    justify-content: flex-start;
    align-items: flex-start;
}
.menu-icon{
    width: 30px;
    height: 37px;
    background-image: url("./images/menu_bar.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 6px 8px;
}
.menu-bar p{
    width: 20px;
    height: 35px;
    font-size: .95rem;
    font-weight: 600;
    color: white;
    margin: 9px 0 0 0;
}


/* Todays Deals portion */
.todays-deals-portion{
    width: 108px;
    height: 38.4px;
    padding: .6rem .6rem;
    color: white;
    font-size: .8rem;
}

/* Customer Service portion style */
.customer-service-portion{
    width: 128.1px;
    height: 38.4px;
    color: white;
    font-size: .8rem;
    padding: .6rem .6rem;
}

/* Registry portion style */
.registry-portion{
    width:  75px;
    height: 38.4px;
    color: white;
    font-size: .8rem;
    padding: .6rem .6rem;
}

/* Gift card portion style */
.gift-cards-portion{
    width: 85px;
    height: 38.4px;
    color: white;
    font-size: .8rem;
    padding: .6rem .6rem;
}

/* Sell portion style */
.sell-portion{
    width: 45px;
    height: 38.4px;
    color: white;
    font-size: .8rem;
    padding: .6rem .6rem;
}

.main-content{
    width: 100%;
    height: auto;
    background-color: #e3e6e6;
}

.background-image-portion{
   margin: 0 3rem;
}

.background-image{
    display: block;
    width: 100%;
}

.right-side-key{
    position: absolute;
    width: 84px;
    height: 250px;
    border: 1px solid white;
    top: 99px;
    left: 3.1rem;
}

.left-side-key{
    position: absolute;
    width: 84px;
    height: 250px;
    border: 1px solid white;
    top: 99px;
    right: 3.1rem;
}

.right-key-icon{
    position: absolute;
    width: 20px;
    height: 40px;
    top: 104px;
    left: 26px;
}

.left-key-icon{
    position: absolute;
    width: 20px;
    height: 40px;
    top: 104px;
    right: 30px;
    transform: rotate(180deg);
}
.product-section{
    position:relative;
    width: 100%;
    height: auto;
    top: -344px;
    padding: 0 60px;
    z-index: 1;
}

.amazon-description{
    height: 40px;
    background-color: #f5f6f6;
    text-align: center;
    padding-top: 10px;
    margin: 0 9px;
}

.amazon-description a{
    color: #007185;
}


.products-list-section{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 340px));
    margin: 20px 9px;
    gap: 28px;
}

.products-list-section a{
    position: relative;
    color: #0f1111;
    font-size: .9rem;
    top: 2px;

}

.product-list{
    background-color: #ffff;
    padding: 10px 10px;
}

.product-section-name{
    font-size: 21px;
    font-weight: 900;
    margin:8px 0 0 0;
}


.product-row-one{
    display: flex;
    height: 130px;
    margin-top:3px;
}

.product-image{
    display: block;
    max-width: 95%;
    height: 100%;
    
}
.product-image:hover{
    cursor: pointer;
}
.product-image img{
    display: block;
    max-width: 100%;
    margin-top: 10px;
}

.porduct-name{
    position: absolute;
    width: 160px;
    height: 40px;
    top: -30px;
}

.product-one{
    width: 180px;
    height: auto;
}

.product-two{
    width: 180px; 
    margin-left: 8px;
}

.product-row-two{
    display: flex;
    height: 130px;
    margin-top: 30px;
}

.product-three{
    width: 180px;
}

.product-four{
    width: 180px;
    margin-left: 8px;
}

.see-more-link{
    color: #007185;
    margin:25px 0 10px 0;
}

.see-more-link:hover{
    color: rgb(255, 105, 105);
}

.single-product-section{
    height: 284px;
    padding: 5px;
    margin-top: 10px;
}

.single-product-section img{
    display: block;
    height: 100%;
    max-width: 100%;
}

.product-row-list{
    height: 250px;
    background-color: #ffff;
    margin: 0 9px;
    padding: 10px 10px;
}

.product-row-list ul{
    display: flex;
    list-style-type: none;
}

.image-scroller-button{
    margin-top: 65px;
}

.button-right{
    display: flex;
    width: 40px;
    height: 80px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px #888;
    cursor: pointer;
}
.button-right-image{
    width: 10px;
    height: 20px;
}
.button-right img{
    display: block;
    width: 10px;
    height: 20px;
}

.product-image-portion{
    display: flex;
    width: 145px;
    height: 200px;
    margin: 0 6px;
}

.item-image{
    position: relative;
    top: -7px;
}
.center{
    margin: auto;
}

.unique{
    width: 236px;
    height: 200px;
}
.unique-one{
    width: 247px;
    height: 200px;
}
.unique-two{
    width: 178px;
    height: 200px;
}
.unique-three{
    width: 200px;
    height: 200px;
}

.button-left{
    display: flex;
    width: 40px;
    height: 80px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px #888;
    cursor: pointer;
}
.button-left-image{
    width: 10px;
    height: 20px;
}
.button-left img{
    display: block;
    width: 10px;
    height: 20px;
    transform: rotate(180deg);
}